.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 10px;
  border: 0;
  background-color: beige;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
}
